#player-area {
  background: red;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  position: fixed;
  width: 500px;  
  }

  #player {
    width: 100px;
  }

  #custom-overlay {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center; 
    width: 100vw; 
  }